.text-logo {
	color: black;
}

/*smartphone*/
@media (max-width: 576px) {

	header{
		position: fixed !important;
		z-index: 2;
	}

	.introduction{
		margin-top: 140px !important;
		z-index: 1;
	}
	.billet{
		z-index: 1;
	}
}

/*tablette*/
@media (min-width: 992px) {
 .lien-wcs {
  position: fixed; 
  left: 75%;
  top: 15%; 
  display: flex;
  flex-direction: column;
  width: 25%
  } 
}


