@media (min-width: 577px) {
 .lien-wcs {
  position: fixed; 
  left: 85%;
  top: 15%; 
  display: flex;
  flex-direction: column;
  width: 25%
  } 
}

.text-logo {
	color: black;
}

@media (max-width: 576px) {

	header{
		position: fixed !important;
		z-index: 2;
	}
	.introduction{
		margin-top: 140px !important;
		z-index: 1;
	}
}
