.text-logo {
	color: black;
}

body{
	background-color: #5ac3af;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

}

.container{
	background-color: white;
}


.modal-header{
	background-color: white;
}

h1{
	color: black;
	text-shadow: 2px 2px black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 55px;
}

 .introduction {
  	margin-top: 5%;
  }

.btn-primary {
	color: white;
	background-color: orange;
	border: none;
}


/*smartphone + tablette portrait*/
@media (max-width: 576px) {

	.header-content{
		width: 100%;
		position: fixed;
		z-index: 2;
		background-color: white;
	}

	.introduction{
		margin-top: 33%;
		z-index: 1;
	}
	.billet{
		z-index: 1;
	}

	h1{
	color: black;
	text-shadow: 2px 2px black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 30px;

}

	
}

/*tablette paysage + 720p*/
@media (min-width: 992px) {
  .lien-wcs {
  position: fixed; 
  left: 73%;
  top: 24%; 
  display: flex;
  flex-direction: column;
  width: 30%;
    }

  .billet{
		width: 102%;
	}

  .btn-primary:hover {
	color: white;
	background-color: #5ac3af;
    }

}





/*1080p*/

@media (min-width: 1900px) {
	.lien-wcs {
   position: fixed; 
   left: 71%;
   top: 17%; 
   display: flex;
   flex-direction: column;
   width: 20%;
  } 

  .billet{
		width: 119%;

	}
.btn-primary:hover {
	color: white;
	background-color: #5ac3af;
	}
}

a[class*="list-group-item-action"]{
	background-color: #ffa500;
	color: white;
	font-weight: bold;
}

